@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&family=Roboto:wght@100&display=swap');



body{
    background-image: url("../img/sorocaba.jpg");
    font-family: 'Roboto';
    background-size: cover;
    width: 100%;
    height: auto;

}
header{
    padding: 15px 10px;

}
h1{
    
    text-align: center;
    font-family: 'Oswald';
    font-size: 100px;
    background-color: rgba(255, 235, 205, 0.781);
    background-position: center;
    margin-left:30%;
    margin-right:30%;
    
    
    color: hsl(0, 0%, 0%);
    padding: 10px 20px;


}

#titulocuriosidades{
    text-align: center;
    font-family: 'Oswald';
    font-size: 70px;

}

.textosComBgColor{
    background-color: rgba(255, 235, 205, 0.781);
    padding: 20px 50px;
    margin-left:20%;
    margin-right:20%;
}
#video{
    margin-top: 20px;
    margin-bottom: 30px;
}


#botaoig{
    height: 100px;
    position: fixed;
    bottom: 20px;
    right: 20px;

}

#botaoyt{
    
    height: 100px;
    width: 160px;
    position: fixed;
    bottom: 150px;
    right: 30px;

}